.navbar{
    background-color: #b1f2ff;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline;
    border: 3px solid black;
    font-family: helvetica;
    font-weight: 900;
}

.navbar li{
    display: inline-block;
    padding: 0 20px;
}

.navbar a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    font-family: cursive;
    font-weight: 1000px;
    margin: 30px auto;
    font-size: 100px;
    padding: 30px 0px 3px 0px;
    position: relative;
    filter: drop-shadow(1px 1px 1px black);
}

img{
    height: auto;
    border: 10px solid #555;
    width: 300px;
}

h2{
    font-family: helvetica;
    font-weight: bold;
    font-size: 35px;
    display: inline;
}

p{
    font-family: helvetica;
    width: 30%;
}

a{
    font-weight: 900;
}

.pet{
display: block;
margin: auto;
font-size: helvetica;
font-size: 20px;
}
